    <div class="container">
        <div class="row">
            <div class="col-xs-3">
                        <h2 class="form-header-title">ユーザー登録</h2>
                      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>
        <label>Name</label>
        <%= f.text_field :name, autofocus: true, class:"form-control", id:"inputName", placeholder:"名前"%>
        <label>Email</label>
        <%= f.email_field :email, class:"form-control", id:"inputEmail", placeholder:"メールアドレス"%>
        <label>Password</label>
        <%= f.password_field :password, autocomplete: "off", class:"form-control", id:"inputPassword", placeholder:"パスワード" %>
        <label>Password</label>
        <%= f.password_field :password_confirmation, autocomplete: "off", class:"form-control", id:"inputConfirmPassword", placeholder:"パスワード確認" %>
        <%= f.submit "Sign up", class:"btn btn-success" %>
    <% end %>
      <%= link_to "Log in", new_user_session_path %>

                    </div>
                </div>
            </div>