
<div class="container">
	<div class="row">
		<% if flash[:notice] %>
	<p id=notice><%= flash[:notice] %></p>
<% end %>
<%= render 'layouts/mypagebook', {user: @user, book: @book_1} %>
<div class="col-xs-9">
	<h2>Book detail</h2>
	<table class="table">
		<thead>
		<tr>
			<th></th>
			<th>Title</th>
			<th>Opinion</th>
			<% if @book.user == current_user %>
  			<th></th>
  			<th></th>
			<% end %>
		</tr>
		</thead>
		<tbody>
			<tr>
			<td><%= link_to attachment_image_tag(@book.user, :profile_image,  format: 'jpeg', class: "img-circle pull-left profile-img", fallback: "no_image.jpg", size: '40x40'), user_path(@book.user) %><%= link_to @name , user_path(@book.user) %></td>
			<td><%= @book.title %></td>
			<td><%= @book.body %></td>
			<% if @book.user == current_user %>
  			<td><%= link_to "Edit", edit_book_path(@book), class: "btn btn-success" %></td>
  			<td><%= link_to "Destroy", book_path(@book), method: :delete, data: { confirm: '本当に削除しますか?' } , class: "btn btn-danger" %></td>
			<% end %>
		</tr>
		</tbody>
	</table>
</div>
</div>
</div>