<div class="col-xs-3">
	<h2>User info</h2>
	<%= attachment_image_tag @user, :profile_image, :fill, 100, 100, format: 'jpeg', class: "img-circle pull-left profile-img", fallback: "no_image.jpg" %>
	<table class="table">
		<tbody>
			<tr>
    			<th>name</th>
    			<th><%= user.name %></th>
    			<th></th>
    		</tr>
    		<tr>
    			<th>introduction</th>
    			<th><%= user.introduction %></th>
    		</tr>
    		<tr>
    			<th><%= link_to "フォロー", user_follows_path(user) %></th>
    			<th><%= user.followings.count %></th>
    		</tr>
    		<tr>
    			<th><%= link_to "フォロワー", user_followers_path(user) %></th>
    			<th><%= user.followers.count %></th>
    		</tr>
    		<tr>
    			<th><%= render 'layouts/follow_button', user: @user %></th>
    		</tr>
    	</tbody>
    </table>
    <div class="row">
    	<div class="col-xs-12">
        <%= link_to "", edit_user_path(@user), class: "btn btn-default glyphicon glyphicon-wrench btn-block" %>
    	</div>
	</div>
	<h2>New book</h2>
<%= form_for(book) do |f| %>
	<div class="form-group row">
		<label for="book_title">Title</label><br>
		<%= f.text_field :title, class:'col-xs-12' %>
	</div>
	<div class="form-group row">
		<label for="book_body">Body</label><br>
		<%= f.text_area :body, class:'col-xs-12' %>
	</div>
	<div class="actions row">
		<%= f.submit 'Create Book', class:'btn btn-primary col-xs-12' %>
	</div>
<% end %>
<br>
<h2>Search</h2>
<%= form_tag books_path, class:'justify-content-center searchform', :method => 'get' do %>
          <p>
            <%= select(@search_content, :search_target, [["本","book"], ["ユーザー","user"]])%>
            <%= select(@search_content, :search_method, [["前方一致","forward_match"], ["後方一致","backward_match"], ["完全一致","perfect_match"], ["部分一致","partial_match"]])%>
            <%= text_field(@search_content, :search_word)%>
            <%= submit_tag "検索", :title => nil, class:'btn btn-default'%>
          </p>
          <% end %>
</div>